.main-title {
  font-size: 4rem;
  color: var(--main-background);
  -webkit-text-stroke: 2px var(--secondary-color);
  font-family: "Poppins", sans-serif;
  position: relative;   
}
.main-title::before{
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  width: 10%; 
  height: 100%;
  color: var(--secondary-color);  
  -webkit-text-stroke: 2px var(--secondary-color);
  overflow: hidden;
  border-right: 2px solid;  
  white-space: nowrap;  
  animation: fill 6s linear infinite;
}
@media screen and (max-width:390px) {
  .main-title{
    font-size: 3rem;
  }
}
@keyframes fill {
  0%,10%,100%{
    width: 0;
  }
  70%, 90%{
    width: 100%;
  }
}
.main-header {
  width: 100%;
}

nav {
  height: 70px;
}

.titleBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

.main-header span {
  display: inline-block;
  margin-right: 1px;
  opacity: 0;
  animation: jump 1s forwards ease;

}
